@media (max-width: 992px) {
    .nav-link:hover{
        color: #ffffff;
        font-weight: 600;
        border-bottom: none;
    }
}
@media (max-width: 768px){
    

}
@media (max-width: 576px){
        
}