.navbar{
    background-color: #562EFF;
}
.navbar-brand{
    margin-left: 150px;
}
.navbar-brand img{
    width: 40.42px;
    height: 51px;
}
.navbar-nav{
    margin-right: 150px;
    margin-left: auto;
}
.nav-link{
    color: #ffffff;
}
.nav-link:hover{
    color: #ffffff;
    font-weight: 600;
    border-bottom: #ffffff solid .3rem;
}
#logo:hover{
    font-weight: 400;
    border-bottom: none;
}
.nav-item img{
    width: 30px;
    height: 30px;
}
.fa{
    display: block;
    width: 2rem;
    color: #ffffff;
    border: none;
}


